@mixin orbitron {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

$timers-height: 200px;

.orbitron-600 {
    @include orbitron;
    font-weight: 600;
}

.orbitron-400 {
    @include orbitron;
    font-weight: 400;
}

.uppercase {
    text-transform: uppercase;
}

.stopwatch-container {
    max-width: 500px;
}

.timers-container {
    height: $timers-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    //border-radius: 10px;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    padding: 0;
    max-width: 20rem;
    width: 16rem;
    font-size: larger;
}

.timer:nth-child(1) {
    border-bottom: black solid 1px;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    min-height: 6rem;

    p {
        margin: 0;
    }
}

.left-btns {
    button:nth-child(1) {
        border-top-right-radius: 0;
    }

    button:nth-child(2) {
        border-bottom-right-radius: 0;
    }
}

.left-btns, .right-btns {
    height: $timers-height;

    button:nth-child(n) {
        border: black solid 1px;
        text-transform: uppercase;
    }
}

.right-btns {
    button:nth-child(1) {
        border-top-left-radius: 0;
    }

    button:nth-child(2) {
        border-bottom-left-radius: 0;
    }
}

.lap-times-table {
    max-width: 12rem;
    margin: 0 auto;
    font-size: 1.2rem;

    .best-lap {
        td {
            color: red !important;
        }
    }
}